.view {
    
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgb(125, 189, 248);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(125, 189, 248);
    }
}

html,
body,
header,
.view {
  height: 100%;
}
hr{
    color: white;
    background-color: white;

}
.view h1{
    font-size: 40px;
    font-weight: 400;
}
.view button{
    border-radius: 50px;
    border: 1px solid white; 
    padding-left: 30px;
    padding-right: 30px;
}
.view button:hover{
    color: white;
}
hr{
    width: 65%;
}
#navbar-brand{
    margin-left: 6%;
}
#nav-item-inst{
    margin-right: 6%;
}
.infoAbou{
    visibility: visible; 
    animation-delay: 0.4s; 
    animation-name: fadeIn;
}
.infoAbou img{
    height: 320px;
    width: 100%;
}